# OS
.DS_Store
Thumbs.db

# Editors/IDEs
.idea/
.vscode/
*.code-workspace
*.iml

# Swap/backup files
*~
*.swp
*.swo
*.kate-swp
.#*

# Logs
*.log

# Archives
*.zip
*.tar
*.tar.gz
*.tar.xz

# Env/local
.env
.env.*
.direnv/

