# OS
.DS_Store
Thumbs.db

# Editors/IDEs
.idea/
.vscode/
*.code-workspace
*.iml

# Swap/backup files
*~
*.swp
*.swo
*.kate-swp
.#*

# Logs
*.log

# Archives
*.zip
*.rar
*.7z
*.tar
*.tgz
*.tar.gz
*.tar.bz2
*.tar.xz

# Env/local
.env
.env.*
.direnv/

# Backups
*.bak
*.backup
*.old
*.orig
*.rej

# Fonts
*.ttf
*.otf
*.woff
*.woff2

